NODE_ENV=development
PORT=8080
DATABASE_URL="mysql://app_user:app_password@localhost:3307/app_database"
REDIS_URL=redis://localhost:6379

JWT_SECRET=my-secret-key
ADMIN_PASSWORD=password123

TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_KEY=value
TMDB_ACCESS_TOKEN=value